asgiref==3.5.2
attrs==21.4.0
boto3==1.24.37
botocore==1.27.37
certifi==2022.6.15
charset-normalizer==2.1.0
codecov==2.1.12
Collectfast==2.2.0
coverage==6.4.2
distlib==0.3.5
dj-database-url==0.5.0
Django==4.0.6
django-debug-toolbar==3.5.0
django-s3-folder-storage==0.5
django-storages==1.12.3
filelock==3.8.0
flake8==4.0.1
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
jmespath==1.0.1
mccabe==0.6.1
platformdirs==2.5.2
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.9
pytest==7.1.2
pytest-cov==3.0.0
pytest-django==4.5.2
python-dateutil==2.8.2
python-decouple==3.6
requests==2.28.1
s3transfer==0.6.0
sentry-sdk==1.8.0
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.3.0
urllib3==1.26.11
virtualenv==20.16.3
virtualenv-clone==0.5.7
